[submodule "tmux"]
	path = tmux
	url = https://github.com/xj11400/dot-tmux.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/xj11400/dot-nvim.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/xj11400/dot-zsh.git
